<!doctype html>
<html lang="en">
  <link rel="stylesheet" href="style.css">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    
  </head>
  <body>
    <nav class="topnav">
		<a class="btn noHover" style="font-weight:bold;">Florent Grée</a>
		<div class="topnav-right"> 
			<a href="index.html">Home</a>
			<a href="cv.html">CV</a>
			<a href="portfolio.html">Portfolio</a>
			<a href="contact.html">Contact</a>
		</div>
	</nav>
    <h1>{{ page.title }}</h1>
    <div class="content">
      {{ content }}
    </div>
    <footer>
      &copy; <script>document.write(new Date().getFullYear())</script>
    </footer>
  </body>
</html>
